<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0em","bottom":"2em"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:0em;padding-bottom:2em"><!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->

<!-- wp:post-title {"level":1,"isLink":true,"style":{"spacing":{"margin":{"top":"2em"}}}} /-->

<!-- wp:post-content {"align":"full","className":"is-style-content-padding","layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","align":"full"} /-->