<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0em","bottom":"2em"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:0em;padding-bottom:2em"><!-- wp:paragraph -->
<p>Single</p>
<!-- /wp:paragraph -->

<!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->

<!-- wp:post-title {"level":1,"isLink":true,"style":{"spacing":{"margin":{"top":"2em"}}}} /-->

<!-- wp:post-author /-->

<!-- wp:post-date /-->

<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:post-comments /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","align":"full"} /-->